@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a class="btn btn-group-lg btn-dark" asp-page="/CRUD/NewTask">New Task</a>
<br />
<table class="table table-hover">

    <thead>
        <tr style="text-align: center;">
            <th scope="col">Priority</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created time</th>
            <th scope="col">Status</th>
            <th scope="col">Complete</th>
            <th scope="col">Save</th>
            <th scope="col">Add Task to User</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    @foreach (var item in Model.TaskList)
    {
        @if (item.Task_Status != true)
        {
            <tbody>
                <tr style="text-align:center;">
                    @if (item.Priority == "High")
                    {
                        <td style="background-color: red">@item.Priority</td>
                    }
                    @if (item.Priority == "Medium")
                    {
                        <td style="background-color: yellow">@item.Priority</td>
                    }
                    @if (item.Priority == "Low")
                    {
                        <td style="background-color: green">@item.Priority</td>
                    }
                    <td>@item.Task_Name</td>
                    <td>@item.Task_Description</td>
                    <td>@item.Task_Created</td>
                    <td>In Process</td>
                    <form method="post" asp-page-handler="save" asp-route-TaskId="@item.Task_Id">
                        <td>
                            <input type="checkbox" asp-for="CompleteCheck">
                        </td>
                        <td>
                            <button class="btn btn-dark">Save</button>
                        </td>
                    </form>
                    <td>
                        <form asp-page-handler="AddUser" asp-route-TaskId="@item.Task_Id" asp-page="/CRUD/">
                            <button class="btn btn-dark">Add to User</button>
                        </form>
                    </td>
                    <td><a class="btn btn-dark btn-group-sm" asp-route-TaskId="@item.Task_Id" asp-page="/CRUD/Update">Edit</a></td>
                    <td>
                        <form asp-page-handler="DeleteButton" asp-route-TaskId="@item.Task_Id" method="post">
                            <button type="submit" class="btn btn-dark btn-group-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        }
    }
</table>